*{
    box-sizing: border-box;
    font-weight: 400;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 1280px;
    min-width: 320px;
    color: #000;
}
.header {
    background-image: url(../img/headerFon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    position: relative;
}
.header__top {
    text-align: center;
    padding-top: 68px;
}
.header__logo {
    margin-bottom: 60px;
}
.header__title {
    font-size: 50px;
    line-height: 62px;
    color: #fff;
    max-width: 755px;
    margin: 0 auto;
    text-transform: uppercase;
    span {
        font-weight: 900;
    }
}
.header__bottom {
    max-width: 335px;
    min-height: 335px;
    background-color: #fff;
    padding: 30px 0px 25px;
    text-align: center;
    border: 1px solid #e6e6e6;
    position: absolute;
    bottom: -130px;
    left: 50%;
    transform: translateX(-50%);
}
.header__input {
    color: #938e8e;
    line-height: 23px;
    padding: 5px 15px;
    border: 1px solid #e5e5e5;
    outline: none;
    max-width: 265px;
    width: 100%;
    margin-bottom: 25px;
}
.hader__inner {
    display: flex;
    flex-wrap: wrap;
}
.header__img {
    height: 100%;
    width: 100%;
}
.test {
    width: 19% ;
    &:nth-child(1) {
    width: 22%;
    }
    &:nth-child(5) {
    width: 21%;
    }
    &:nth-child(7) {
    width: 22%;
    }
    &:nth-child(8) {
    width: 21%;
    }
    
}
.header__description {
    max-width: 81%;
    text-align: center;
    margin: auto;
    padding: 23px 0px;
    line-height: 23px;
    color: #938e8e;
}
.header__button {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    background-color: #227dd3;
    padding: 10px 38px 10px;
}

//documentPhotos

.documentPhotos__box {
    padding: 170px 0px 107px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.documentPhotos__inner {
    display: flex;
    align-items: center;
    gap: 35px;
}

.documentPhotos__title {
    font-size: 27px;
    line-height: 15px;
    font-weight: 600;
    margin: 0;
    padding-top: 20px;
}
.documentPhotos__text {
    font-size: 14px;
    line-height: 23px;
}

//heading
.heading {
    background-image: url(../img/lsd.png);
    padding: 86px 0px 0px;
    min-height: 875px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
}
.heading__inner {
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.heading__title {
    font-size: 39px;
    line-height: 40px;
    font-weight: 600;

}
.heading__description,
.heading__text {
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 50px;
    max-width: 650px;
}
//Heading-bottom
.heading-bottom {
    background-color: #44a36f;
    clip-path: polygon(0% 33%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: -306px;
    position: relative;
    padding-top: 106px;
}
.heading-bottom__box {
    min-height: 670px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.heading-bottom__left {
    background-image: url(../img/Shadow2.png);
    background-size: cover;
    width: 39%;
    height: 576px;
    z-index: 1;
    position: absolute;
    bottom: -115px;
    left: -24px;
}
.heading-bottom__img {
    z-index: 2;
    left: 230px;
    position: absolute;
    width: 56%;
}
.heading-bottom__right {
    z-index: 3;
    max-width: 530px;
}
.heading-bottom__title {
    font-size: 39px;
    line-height: 62px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}
.heading-bottom__text {
    font-size: 14px;
    line-height: 23px;
    color: #fff;
}
.heading-bottom__button {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    border: 3px solid #fff;
    padding: 12.5px 33px;
    margin-top: 30px;
    border-radius: 10px;
}
.wer {
    background-image: url(../img/Shape30.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    z-index: 1000;
    top: -41px;
    transform: rotate(3.3deg);

    position: absolute;
}